<style>
  .buttonp1 {
    width: 100%;
    margin-bottom: 5%;
    height: 30%;
  }
</style>
<h1 style="text-align: center; width: 100%">Maturaproject</h1>
<div
  style="
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30%;
    height: 30%;
    background-color: bisque;
  "
>
  <a routerLink="/game-setup"
    ><button mat-raised-button color="primary" class="buttonp1">Play</button></a
  >
  <button mat-raised-button color="primary" class="buttonp1">Statistics</button>
  <button mat-raised-button color="primary" class="buttonp1">Settings</button>
</div>
